body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.clubs {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: +20;
  width: 100%;
  background-color: #fff;
  border-bottom: 3px solid #7d7d7d;
}

.clubs__button,
.account__button {
  width: 125px;
  height: 45px;
  margin: 18px 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: #d4d5d8;
  border: none;
  border-bottom: 3px solid #7d7d7d;
}

.account__button {
  width: 160px;
}

.clubs__button:hover,
.account__button:hover {
  cursor: pointer;
  border: 3px solid #7d7d7d;
}

.clubs__button:focus,
.account__button:focus,
.favorites_icon {
  outline: 0;
}

.club__list_error {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.club__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 85px;
}

.club__list_cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 290px;
  padding: 10px 0 0;
  margin: 0 10px;
  border-bottom: 2px solid #7d7d7d;
}

.club__list_cell:hover {
  border-bottom: 2px solid #028d45;
}

.club__list_cell:hover .club__list_name {
  cursor: pointer;
  color: #028d45;
}

.club__list_icon {
  width: 170px;
  padding-bottom: 7px;
}

.club__list_icon:hover {
  cursor: pointer;
}

.club__list_name {
  padding: 5px 0;
  font-size: 20px;
}

.favorites__icon_team,
.favorites__icon_player,
.active__favorites__icon_team,
.active__favorites__icon_player {
  position: absolute;
  z-index: +10;
  top: 10px;
  right: 10px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: inherit;
  background-image: url(../img/star-white.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.favorites__icon_player,
.active__favorites__icon_player {
  top: 3px;
  left: 290px;
}

.favorites__icon_team:hover,
.favorites__icon_player:hover {
  cursor: pointer;
  background-image: url(../img/star-green.svg);
}

.favorites__icon_team:active,
.favorites__icon_player:active {
  background-image: url(../img/star-yellow.svg);
}

.favorites__icon_team:focus,
.favorites__icon_player:focus,
.active__favorites__icon_team:focus,
.active__favorites__icon_player:focus {
  outline: none;
}

.active__favorites__icon_team,
.active__favorites__icon_player {
  background-image: url(../img/star-yellow.svg);
}

.active__favorites__icon_team:hover,
.active__favorites__icon_player:hover {
  cursor: pointer;
}

.players__list {
  margin: 20px 10px 0;
}

.club__player {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  font-size: 18px;
}

.players__list_position {
  font-style: italic;
  font-size: 16px;
}
