.clubs {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}

.clubs__button {
  width: 125px;
  height: 45px;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: #d4d5d8;
  border: none;
  border-bottom: 3px solid #7d7d7d;
}

.clubs__button:hover {
  cursor: pointer;
  border: 3px solid #7d7d7d;
}

.clubs__button:focus {
  outline: 0;
}

.club__list_error {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.club__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.club__list_cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 290px;
  padding: 10px 0 0;
  margin-right: 20px;
  border-bottom: 2px solid #7d7d7d;
}

.club__list_cell:hover {
  border-bottom: 2px solid #028d45;
}

.club__list_cell:hover .club__list_name {
  cursor: pointer;
  color: #028d45;
}

.club__list_icon {
  width: 170px;
  padding-bottom: 7px;
}

.club__list_icon:hover {
    cursor: pointer;
}

.club__list_name {
  padding: 5px 0;
  font-size: 20px;
}

.players__list {
  margin-top: 20px;

}

.club__player {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 18px;
}

.players__list_position {
  font-style: italic;
  font-size: 16px;
}
